.node {
  width: 30px;
  height: 30px;
  outline: 2px solid white;
  display: inline-block;
  background-color: lightgrey;
  transition: background-color 0.3s ease-out;
  color: white;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.node-finish {
  background-color: red;
}
  
.node-start {
  background-color: green;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-visited {
  background-color: lightseagreen;
}

.node-frontier {
  background-color: orange;
}

.node-head {
  background-color: yellow;
}

.node-path {
  background-color: palevioletred;
}

.node-backtrack {
  background-color: #85d5d0;
}